@import 'debug.scss';

$show-debug-border: false;

.image-container {
  @include debug-border;
  width: 50%;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    transition-duration: .8s;
    transition-property: left, top;
  }
  img:nth-of-type(2) {
    position: absolute;
    top: 0;
    left: 0;
  }
  &:hover img:nth-of-type(2) {
    left: 100%;
    top: 100%;
  }
}