@import 'debug.scss';

$show-debug-border: false;

.gallery {
  @include debug-border(blue);
  background: #f7f9fc;
  width: 400px;
  min-height: 450px;
  margin: 0 15px 10px 0;
  .control-section {
    display: flex;
    .btn-area {
      flex: 1
    }
  }
}
.image-container {
  @include debug-border(red);
  width: 100%;
  margin: 10px auto 0px;
  position: relative;
  img {
    width: 100%;
  }
  .photo-enter {
    position: absolute;
    opacity: 0.01;
  }
  .photo-enter.photo-enter-active {
    opacity: 1;
    transition: opacity 2s;
  }
  .photo-leave {
    opacity: 1;
  }
  .photo-leave.photo-leave-active {
    opacity: 0.01;
    transition: opacity 2s;
  }
}

.btn-area {
  text-align: center;
}
