@import 'debug.scss';

$show-debug-border: false;

.image-container {
  @include debug-border;
  width: 60%;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition-duration: 1s;
    transition-property: left, top;
    &:first-of-type {
      position: static;
    }
  }
  img.goAway {
    top: 100%;
    left: 100%;
  }
}